:root {
    --soft-blue: hsl(231, 69%, 60%);    
    --soft-red: hsl(0, 94%, 66%);
    --grayish-blue: hsl(229, 8%, 60%);
    --very-dark-blue: hsl(229, 31%, 21%);
    --green: hsl(140, 94%, 38%);
}
 
 
 
 html {
    box-sizing: border-box;
    font-size: 62.5%; 
    /* La medida estandar el 16 px = 1 rem ,  16px x 3rem 48px  1o px */
}

/* *{
    margin:0;
    padding:0;
    box-sizing:border-box;
} */ 

body{
    background-color:rgb(201, 201, 206);
    font-family:'Courier New', Courier, monospace;
    margin: 0;
}

#navbar {
    display:flex;
    justify-content:space-around;
    width: 100%;
    background-color:rgb(130, 147, 179);
}

img .initial-img {
    width:200px;
    height: 100px;
    object-fit:cover;
    background-color:white;
}

img{
    object-fit:cover;
    height:200px;
}

nav h2{
    color: white;
    font-size:30px;
    text-align: center;
}

h1 {
    text-transform: capitalize;
    font-size: 2rem;
}

span{
    color:grey;
}

#render {
    display: flex;
    justify-content:center;
    align-items: baseline;
    height: 100vh;
    flex-wrap:wrap;
    margin: 20px 20px;
    padding-top: 10%;
    margin: 0 auto;
}

.card {
    background-color:rgb(232, 232, 235);
    width: 220px;
    height: 450px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgb(114, 113, 116);
    margin: 5px 5px 5px;
    cursor: pointer;
    padding:20px;
    margin:15px;
    margin-inline: 20px;
} 

div .initial-img{
    width: 200px;
    height: 200px;
    border: 2px solid white;
    border-radius:100%;
    background-color: white;
    align-items:center;
    object-fit:scale-down;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items:center;
    width:100%;
    object-fit:cover;
    text-align:center;
}

.card:hover{
    background-color:rgb(209, 207, 207);
    transform: scale(120%);
    transition: .5s;
}

.card-info {
    text-align: center;
    font-size:medium;
}

.card-info > p{
    font-size:small;
}

.card-body p{
    font-size: 1px;
    color:black'
}

.card-body .card-text{
    font-size:small;
}

.description .card-info{
    font-size:small;
}

button{
    width:100px;
    height:40px;
    border:none;
    display:block;
    margin-top:20px;
    cursor:pointer;    
}

input {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 3px;
    margin-top: 30px;
}

label{
    color:white;
    font-size:medium;
}











